.container{
	max-width: 600px;
	width: 100%;
	margin: 1em auto;
	position: relative;
}

.botones{
	margin: 1em auto;
	text-align: center;
	padding: 20px;
	
}

#titulo{
	font-size: 18px;
	padding: 5px;
	text-align: right;
}

#imagen{
	width: 381px;
	height: 400px;
	background-image: url("../img/tree.png");
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-color: white;
}

.ball{
	position: absolute;
}

